<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the SDLC Craft AI</h1>
    <ul>
        <li><a href="http://127.0.0.1:8000/playground/ask_document" target="_blank">Ask Your Schema Document</a></li>
        <li><a href="http://127.0.0.1:8000/playground/user_story" target="_blank">User Story Generator</a></li>
        <li><a href="http://127.0.0.1:8000/playground/test_scenario" target="_blank">Test Scenario Generator</a></li>
        <li><a href="http://127.0.0.1:8000/playground/test_script" target="_blank">Test Script Converter</a></li>
    </ul>
</body>
</html>
